/* Resetting default styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Light grey background */
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #000; /* Black header background */
    color: #ffd700; /* Gold text color */
    padding: 20px 0;
    text-align: center; /* Center align header content */
    position: relative; /* Ensure header content flows correctly */
}

header img.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: 36px; /* Increase font size for header */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Remove default margin */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #ffd700; /* Gold text color */
    text-decoration: none;
    transition: color 0.3s; /* Smooth color transition on hover */
}

nav ul li a:hover {
    color: #fff; /* White text color on hover */
}

.section {
    padding: 50px 0;
}

.section img {
    max-width: 100%; /* Ensure images are responsive */
    height: auto;
}

.small-profile {
    width: 100%; /* Ensure the image is responsive */
    max-width: 350px; /* Maximum width for larger screens */
    height: auto; /* Maintain aspect ratio */
    border-radius: 70%; /* To make the image circular */
}

footer {
    background-color: #000; /* Black footer background */
    color: #ffd700; /* Gold text color */
    text-align: center;
    padding: 20px 0;
    margin-top: 20px; /* Add space between last line and footer */
}

footer p {
    margin: 0; /* Remove default margin */
    bottom: 0;
}

/* Additional styles can go here */
